<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.6" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="4.2.0" targetFramework="net48" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net452" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net48" />
  <package id="Syncfusion.Data.WPF" version="20.4.0.43" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.4.0.43" targetFramework="net48" />
  <package id="Syncfusion.SfAccordion.WPF" version="20.4.0.43" targetFramework="net48" />
  <package id="Syncfusion.SfBusyIndicator.WPF" version="20.4.0.43" targetFramework="net48" />
  <package id="Syncfusion.SfDiagram.WPF" version="20.4.0.43" targetFramework="net48" />
  <package id="Syncfusion.SfGauge.WPF" version="20.4.0.43" targetFramework="net48" />
  <package id="Syncfusion.SfGrid.WPF" version="20.4.0.43" targetFramework="net48" />
  <package id="Syncfusion.SfInput.WPF" version="20.4.0.43" targetFramework="net48" />
  <package id="Syncfusion.SfSkinManager.WPF" version="20.4.0.43" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="20.4.0.43" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="20.4.0.43" targetFramework="net48" />
  <package id="Syncfusion.Themes.FluentLight.WPF" version="20.4.0.43" targetFramework="net48" />
  <package id="Syncfusion.Themes.Office2016White.WPF" version="20.4.0.43" targetFramework="net48" />
  <package id="Syncfusion.Tools.WPF" version="20.4.0.43" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>